<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Информация о пользователях</title>
  <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<h3>Таблица пользователей</h3>
<table>
  <tbody>
  <tr>
    <th>id</th>
    <th>Логин</th>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Почта</th>
    <th>Роль</th>
  </tr>
  <th:block th:each="user : ${users}">
    <tr>
      <td th:text="${user.id}"></td>
      <td th:text="${user.username}"></td>
      <td th:text="${user.firstName}"></td>
      <td th:text="${user.lastName}"></td>
      <td th:text="${user.email}"></td>
      <td th:text="${user.role}"></td>
    </tr>
  </th:block>
  </tbody>
</table>
</body>
<a th:href="@{/logout}">Выйти</a>
</html>
